:root {
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--Slate-300);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  max-width: 320px;
  max-height: 499px;
  border-radius: 20px;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 16px 16px 40px 16px;
}

img {
  border-radius: 10px;
}

.qr-text {
  padding: 0 16px;
}

p.heading {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: var(--Slate-900);
}

p.info {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--Slate-500)
}
